body{
    background-color: #282c34;
}
.lipsum{
    color: #dfdfdf;
    position: relative;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.options{
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    

}
.projects{
    row-gap: 10px;
    animation: projects 5s infinite;
    border-style: dashed;
}
.projects:hover{
    transform: scale(1.1);
}
.projects:hover, .projects:focus {
    animation-play-state: paused;
}
@keyframes projects {
    0% {background-color: red;}
    50% {background-color: blue;}
    10% {background-color: yellow;}
}

h1{
    color: #dfdfdf;
    left: 50%;
    text-align: center;

}
h2{
    color: #282c34;
    position: relative;
}